:root {
    --spacing: 1rem;
}

button:hover { 
    color: yellow;
    background-color: green;
}

button {
     color: rgb(34, 149, 78);
     background-color: rgb(15, 48, 60);
     border-radius: 5px;
     height: 30px;
     border-color: rgb(34, 149, 78);
     font-weight: bold;
}

div {
    background-color: rgb(15, 48, 60);
    color: white;
    border-radius: 10px;
    word-spacing: var(--spacing);
    width: 750px;
    height: 40px;
}

a {
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
    font-size: small;
    margin-top: 10px;
}


input {
    border-radius: 5px;
    height: 25px;
    margin-top: 5px;
}

.Navbar {
    font-size: large;
}